<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project</title>
  </head>
  <body>
    {{> header}}
    <!-- if more than two : screamIt a b -->
    <p>My Portpolio Page</p>


    {{> footer}}
  </body>

</html>
